.education-header{
    font-size: 22px;
}
.skill-header{
    font-size: 18px;
    text-align: center;
}
.skill-s{
    height: 80px; width: auto; margin-bottom: 10px;
}

.skill-s2{
    height: 70px; width: auto; margin-bottom: 10px;
}

.skill-d{
    height: 50px; width: auto; margin-bottom: 10px;
}